h1 {
  font-family: sans-serif;
  text-align: center;
}

.sidebar {
  float: right;
  width: 30%;
  margin-left: 20px;
  padding-left: 10px;
  background-color: #ffb366;
  padding-bottom: 50%;
  border: 5px outset #3385ff;
}


.image {
  float: left;
  margin-right: 20px;
}

.history {
  float: left;
  /* width: 50%; */
}

.videos {
  float: left;
  /* width: 50%; */
}

.content {
  float: left;
  width: 65%;
}

.everything {
  width: 100%;

}
